langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pandas
langchain-text-splitters
pymupdf
python-docx
docx2txt
unstructured[docx]
openpyxl
msoffcrypto-tool
jq
matplotlib
# Embedding models
langchain-huggingface
sentence-transformers

# Hugging face pipeling own finding
torch
transformers
accelerate
sentencepiece